
@font-face {
    font-family: 'petrobras';
    font-weight: normal;
    src: url(../font/petrobras/petrobrassans_rg-webfont.woff);
}
@font-face {
    font-family: 'petrobras';
    font-weight: lighter;
    src: url(../font/petrobras/petrobrassans_lt-webfont.woff);
}
@font-face {
    font-family: 'petrobras';
    font-weight: bold;
    src: url(../font/petrobras/petrobrassans_bd-webfont.woff);
}


* {
	font-family: 'Petrobras';
}

*:focus {
	outline: 0;
}

::-moz-focus-inner { 
    padding: 0;
    border:  0;
}

h1, h2, h3, h4, h5, h6,
div, p, span, img, article, legend, form, label, input, textarea, select, button {
	box-sizing: border-box;
    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: geometricPrecision;
}

html {
	overflow-y: scroll;
	font-size: 16px;
	line-height: 1.2;
}

body {
	margin: 0;
	background: #41864C;
	transition: all 0.5s;
}






