
@font-face {
	font-family: petrobras;
	src: url(../font/petrobrassans_rg-webfont.woff);
}


h1, h2, h3, h4, h5, h6,
div, p, span, article, legend, form, label, input, button {
	box-sizing: border-box;
	outline: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	overflow-y: scroll;
	font-size: 16px;
	line-height: 1.2;

	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;

	font-family: 'Ubuntu', sans-serif;
	
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;

	background: #ccc;
	transition: all 0.5s;
}

#langs {
	width: 100%;
  	text-align: center;
	margin-top: 70px;
	padding-top: 20px;
}

#results {
	text-align: center;
	width: 100%;
	color: black;
}

#results table {
	margin: 0 auto;
	
	border-collapse:separate; 
  	/* border-spacing: 10px 10px; */
  	
  	background-color: black;
}

#results thead tr{
	background: #e5e5e5;
}

#results table tr{
	display: table-row !important;
}

#results table tbody tr{
	background: white;
}

#results table tbody tr:nth-child(even){
	background: #f2f2f2;
}

#results table tr td{
	text-align: center;
	padding: 15px 10px;
}



#content {
	padding: 0;
	text-align: center;
}

#header {
	position: fixed;
	z-index: 999999;
	top: 0;
	left:0;
	width: 100%;
	height: 56px;
	background: #fff url(../img/logo-exp.png) no-repeat 5% center;
	box-shadow: 0 3px 5px 1px rgba(0,0,0, 0.2);
	transition: all 0.5s;
}
body.is-unloaded #header {
	transform: translate(0,-100px);
}


#input-search {
	width: 100%;
	padding: 5px 20px 6px 40px;
	font-size: 18px;
	color: #555;
	background: #fafafa url(../img/search.png) no-repeat 12px center;
	border-radius: 5px;
	border: 1px solid #ddd;
	transition: all 0.2s;
}

#search-results {
	width: 100%;
	height: auto;
	font-size: 18px;
	color: #555;
	background: #fafafa;
	border: 1px solid #ddd;
	opacity: 0;
	line-height: 18px;
}

#search-results > div {
	width: 100%;
	padding: 6px;
	text-align: left;
	line-height: 18px;
}

#search-results > div:hover {
	cursor: pointer;
	font-weight: bold;
}

body.is-unloaded
#input-search {
	margin-top: 0;
}

/* #input-search:focus {
	width: 100%;
	color: #333;
	background-color: #fff;
} */

.ajax-load {
	position: absolute;
    top: 60%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 40px;
}

.ajax-load > img {
	width: 100%;
}

.ajax-load-relacao {
	margin-top: 90px;
    margin-left: 10px;
}

.content p {
	color: #757575;
}

#langs .lang {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0px 5px 0px 5px;
}

#langs .lang:hover {
	cursor: pointer;	
}

#langs .lang.en {
	background: url(../img/en.png) no-repeat;
}

#langs .lang.ptbr {
	background: url(../img/ptbr.png) no-repeat;
}

#langs .lang.es {
	background: url(../img/es.png) no-repeat;
}

#langs .lang.en.clicado,
#langs .lang.es.clicado,
#langs .lang.ptbr.clicado {
	opacity: 0.3;		
}

#langs .lang.en.clicado:hover,
#langs .lang.es.clicado:hover,
#langs .lang.ptbr.clicado:hover {
	cursor: default;
}

#langs .hierarquia {
	display: inline-block;
	font-family: 'petrobras';
	font-size: 24px;
	font-weight: 600;
	color: #666666;
}

#langs .hierarquia:hover {
	cursor: pointer;
}

#langs .hierarquia.cinicio:hover,
#langs .hierarquia.c0:hover {
	color: #247fd5;
}

#langs .hierarquia.c1:hover {
	color: #4C98E0;
}

#langs .hierarquia.c2:hover {
	color: #78b1e7;
}

#langs .hierarquia.c3:hover {
	color: #a3caef;
}

#langs .hierarquia.c0:BEFORE,
#langs .hierarquia.c1:BEFORE,
#langs .hierarquia.c2:BEFORE,
#langs .hierarquia.c3:BEFORE {
	content: '>';
	color: #666666;
	font-weight: bold;
	font-size: 24px;
	margin-right: 10px;
	margin-left: 10px;
}


fieldset {
  border: none;
  margin: 0;
}

input {
  border: none;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  -webkit-appearance: none;
}

input:focus {
  outline: none;
}

input[type="button"] {
  cursor: pointer;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}


#login-form {
  position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}

#login-form h3 {
  margin: 0;
  background-color: #282830;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 14px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

#login-form fieldset {
  background: #fff;
  border-radius: 0 0 5px 5px;
  padding: 20px;
  position: relative;
}

#login-form fieldset:before {
  background-color: #fff;
  content: "";
  height: 8px;
  left: 50%;
  margin: -4px 0 0 -4px;
  position: absolute;
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 8px;
}

#login-form input {
  font-size: 14px;
}

#login-form input[type="text"],
#login-form input[type="password"] {
  border: 1px solid #dcdcdc;
  padding: 12px 10px;
  width: 100%;
}

#login-form input[type="text"] {
  border-radius: 3px 3px 0 0;
}

#login-form input[type="password"] {
  border-top: none;
  border-radius: 0px 0px 3px 3px;
}

#login-form input[type="button"] {
  background: #1dabb8;
  border-radius: 3px;
  color: #fff;
  float: right;
  font-weight: bold;
  margin-top: 20px;
  padding: 12px 20px;
}

#login-form input[type="button"]:hover {
  background: #198d98;
}

#login-form footer {
  font-size: 12px;
  margin-top: 16px;
}

.info {
  background: #e5e5e5;
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  margin: 0 10px 0 0;
  text-align: center;
  width: 20px;
}

.login-msg {
	height: 20px;
	font-family: 'petrobras';
	font-size: 14px;
	text-align: center;
	color: #f14b4b;
}

.creditos-titulo, .creditos-pessoa {
	font-family: 'petrobras';    
    color: #666666;
    text-align: center;
}

.creditos-titulo {
	margin-top: 20px;
	font-size: 24px;
	font-weight: bold;
}

.creditos-pessoa {
	margin-top: 5px;
	font-size: 16px;
}

.tabela-estatistica {
	font-family: 'petrobras';
	margin: auto;
	padding-top: 40px;
}

.tabela-estatistica tr {
	line-height: 30px;
	cursor: pointer;
}

.tabela-estatistica tr:hover {
	font-weight: bold;
}

.tabela-estatistica th {
	width: 300px;
}

.tabela-estatistica-coluna-titulo {
	font-size: 18px;
    color: #666666;
}

.tabela-estatistica td,
.tabela-estatistica th {
	border: 1px solid #666;
}