
#page-gestores  .tarja {
	padding: 10px 0;
	margin-bottom: 40px;
	background: #f2f2f2;
}



#page-gestores  .table {
	width: 90%;
	max-width: 1070px;
	margin:  0 auto;
	padding: 0;
}

#page-gestores  .row {
	padding: 8px;
    border: 2px solid transparent;
    border-radius: 5px;
}
#page-gestores  .row:nth-child(even) {
	background: #f5f5f5;
}

#page-gestores  .cell {
	display: inline-block;
	width: 14%;
	max-width: 150px;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
	color: #41864C;
	color: #888;
}

#page-gestores  .cell.nome {
	width: 250px !important;
	max-width: 90% !important;
	text-align: left;
}







#page-gestores  .table .cell b {
	display: block;
	font-size: 22px;
	font-weight: bold;
}

/*
#page-gestores .tarja .cell {
	display: inline-block;
    width: 14%;
    max-width: 150px;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    color: #41864C;
    color: #888;
}*/





/*#page-gestores  .ui-icon {
    margin:  3px auto 5px auto;
    width:  15px;
    height:  4px;
    background: #ccc;
    border-radius: 50px;
}*/

#page-gestores  .header .cell {
	padding-bottom: 25px;
	font-size: 24px;
}

#page-gestores  .header .cell span {
	font-weight: bold;
	font-size: 20px;
	color: #777;
}

#page-gestores  .header .img {
	background: url(../../img/right-arrow.svg) no-repeat 50% 100%;
}
#page-gestores  .header .img.i4 {
	background-image: url(../../img/right-arrow-last.svg);
}


#page-gestores  .cell.i {
	color: #ccc;
	/*border-bottom: 2px solid #ddd;*/
}

#page-gestores  .cell.i.i0 { color: #247fd5 }
#page-gestores  .cell.i.i1 { color: #4C98E0 }
#page-gestores  .cell.i.i2 { color: #78b1e7 }
#page-gestores  .cell.i.i3 { color: #a3caef }
#page-gestores  .cell.i.i4 { color: #59c489 }

#page-gestores  .data {
	border: 0 !important;
}




#page-gestores  .table:hover .gestor {
	opacity: 0.6;
}

#page-gestores  .table .gestor {
	cursor: pointer;
	user-select: none;
	transition: 0.2s;
}
#page-gestores  .table .gestor:hover {
	opacity: 1;
	background: #eee;
	/*border-color: #ddd;*/
	transition: none;
	margin: 0 -20px 0 -20px;
}


#page-gestores  .table .gestor:active {
	margin: 0 -18px 0 -18px !important;
	opacity: 0.8;
	transition: none;
	transform: scale(0.99);
}





