

.caixa {
	margin:  10px;
	height: 100px;
	overflow: hidden;
	text-align: left;
	font-size: 12px;
	max-width: 300px;
	color: #777;
	background: #f5f5f5;
	box-shadow: 0 2px 8px -5px rgba(0,0,0, 0.7);
	border: 1px solid #ddd;
	border-radius: 5px;
	transition: 0.15s;
}
.caixa:hover {
	background: #fafafa;
	box-shadow: 0 5px 20px -9px rgba(0,0,0, 0.8);
	transform: translate(0,-2px);
}
.caixa:active {
	background: #f5f5f5;
	box-shadow: 0 4px 15px -7px rgba(0,0,0, 0.6);
	transform: translate(0,-1px);
	transition: none;
}


.caixa .container {
	margin: 10px;
}

.caixa .total {
	float: right;
}

.caixa .live {
	display: inline-block;
	vertical-align: middle;
	height: 5px;
	background: #3a3;
}

.caixa .percentual {
	font-weight: bold;
	color: #41864C;
}

.caixa .name {
	padding: 5px 0;
	font-size: 14px;
	color: #555;
}

.caixa.compacted {
	height: 74px;
}
.caixa.compacted .total {
	display: none;
}
.caixa.compacted .percentual {
	display: none;
}
.caixa.compacted .bar {
	display: none;
}