.template-results .margin-top {
	position: relative;
}
.template-results #margin-bottom {
	height: 300px;
	position: relative;
}
.template-results .content {
	width: 80%;
	max-width: 1250px;
	margin: 0 auto;
	text-align: center;
	transition: all 0.3s;
}
.template-results .content.is-hidden {
	opacity: 0;
	transform: translate(0,30px);
}

.template-results .result-item {
	position: relative;
	display: inline-block;
	margin:  10px 5px;
	vertical-align: top;
	padding: 5px 10px 20px 10px;
	width: 270px;
	height: 130px;
	text-align: center;
	font-family: petrobras;
	font-size: 20px;
	font-weight: normal;
	cursor: pointer;
	color: rgba(255,255,255, 0.9);
	background: #ccc;
	border: 0;
	box-shadow: 0 2px 4px rgba(0,0,0, 0.3);
	transition: all 0.3s;
}

.is-search .result-item {
	width: 400px;
	height: 175px;
}

.template-results .result-item span {
	display: block;
	transition: all 0.3s;
}

.template-results .result-item span.relevancia {
	margin-top: 5px;
	color: #757575;
	font-size: 16px;
	font-weight: 500;
}

.template-results .result-item span.hierarquia {
	margin-top: 4px;
	color: #757575;
	font-size: 11px;
	font-weight: 500;
}

.template-results .result-item span.classe {
	font-weight: bold;
    font-size: 14px;
    margin-top: 15px;
}

.template-results .result-item div.funcional {
	position: absolute;
	top: -15px;
    left: -5px;
	width: 30px;
	height: 30px;
	line-height: 34px;
	background: #878787;
	font-weight: 600;
	color: #ffffff;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.template-results hr {
	display: block;
	width: 40px;
	height: 2px;
	margin: 0 auto;
	background: rgba(255,255,255, 0.15);
	border: 0;
	transition: all 0.3s;
	transform: translate(0,10px);
}
.template-results .result-item:hover {
	color: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0, 0.5);
}
.template-results .result-item:hover span {
	transform: translate(0,-3px);
}
.template-results .result-item:hover hr {
	background: rgba(255,255,255, 0.25);
	transform: translate(0,12px);
}
.template-results .result-item:active {
	box-shadow: 0 2px 5px rgba(0,0,0, 0.3);
	transition: none;
}
.template-results .result-item:active * {
	opacity: 0.5;
	transition: none;
}

.template-results .result-item.is-zoom-out {
	opacity: 0;
	transform: translate(0,10px) scale(0.5,0.5);
}
.template-results .result-item.is-zoom-in {
	opacity: 0;
	transform-origin: center bottom;
	transform: scale(1.2,1.2);
	transition: all 0.3s;
}

.template-results .result-item.c0 { background-color: #247fd5 }
.template-results .result-item.c1 { background-color: #4C98E0 }
.template-results .result-item.c2 { background-color: #78b1e7 }
.template-results .result-item.c3 { background-color: #a3caef }
.template-results .result-item.c9 { background-color: #59c489 }

.template-results h1 {
	font-size: 20px;
	color: #777;
}

.feedback-sem-dados {
	font-family: petrobras;
    font-size: 18px;
    font-weight: normal;
    margin-top: 20%;
    color: #474747;
}