
#layout {
	padding: 20px 0 200px 0;
	min-height: 130vh;
	background: #fafafa;
}

#layout .width {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

#layout .width div {
	display: inline-block;	
}

#logo {
	vertical-align: top;
	float: right;
}

#page {
	padding-top: 100px;
	text-align: center;
	transition: 0.5s;
}
body.page-loading #page {
	opacity: 0;
	transform: translate(0,20px);
	transition: none;
}





/*
**
** #status-bar
**
*/
#header {
	position: fixed;
	z-index: 999999;
	top: 0;
	left:0;
	font-size: 28px;
	width: 100%;
	height: 70px;
	/* background: #41864C; */
	background: #001e3b;
	box-shadow: 0 2px 3px -1px rgba(0,0,0, 0.3);
	transition: 0.3s;
}
body.scrolling #header {
	height: 50px;
}
#header .title {
	margin: 10px auto 0 auto;
	font-weight: normal;
	color: #fff;
	transition: 0.3s;
	transform-origin: left top;
}
body.scrolling #header .title {
	margin-top: 10px;
	transform: scale(0.8);
}
#header .title:before {
	position: absolute;
	content: ' ';
	width: 30px;
	height: 4px;
	/* background: #F5C662; */
	background: #fff;
	transform: translate(0,32px);
}
#header .title span {
	display: inline-block;
	font-weight: bold;
	color: rgba(255,255,255, 0.3);
}



/*
**
** #user
**
*/
#user {
	float: right;
	margin-top: -8px;
	transition: 0.2s;
}
body.scrolling #user {
	margin-top: -1px;
}
body.scrolling #user .photo {
	transform: translate(0,-12px) scale(0.8);
}
body.scrolling #user button {
	opacity: 0;
	pointer-events: none;
}

body.logout #user {
	pointer-events: none;
	opacity: 0;
	transform: translate(20px,0);
}

#user .column {
	display: inline-block;
	vertical-align: top;
	padding: 5px;
	text-align: right;
	font-size: 18px;
	color: rgba(255,255,255, 0.9);
}

#user .photo {
	display: inline-block;
	width: 44px;
	height:44px;
	background: #eee url(./img/user.png) no-repeat center;
	background-size: cover;
	border-radius: 90px;
	transition: 0.2s;
}

#user button {
	padding: 1.2px 10px 1px 10px;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: rgba(255,255,255, 0.8);
	cursor: pointer;
	background: none;
	border: 1px solid rgba(255,255,255, 0.5);
	border-radius: 50px;
	transition: 0.2s;
}
#user button:hover {
	color: rgba(255,255,255, 0.9);
}
#user button:active {
	color: rgba(255,255,255, 0.7);
	transform: scale(0.95);
	transition: none;
}











