
.graph svg * {
	user-select: none;
	-webkit-user-select: none;
}


.graph svg .node {
	cursor: -webkit-grab;
}
.graph svg .node:active {
	cursor: -webkit-grabbing;
}
.graph svg .node.concept {
	stroke: #555;
	stroke-width: 1px;
}
.graph svg .node.concept.fixed {
	stroke: #222;
	stroke-width: 2px;
}
.graph svg .node.relation.fixed {
	stroke: #888;
	stroke-width: 1px;
}


.graph svg .link {
	fill: none;
	stroke: #aaa;
	stroke-width: 2px;
	pointer-events: none;
}

.graph svg .nodeName {
	font: 10px sans-serif;
}

.graph svg .nodeName:HOVER {
	cursor: pointer;
	font-weight: bold;
}

.graph svg .linkName {
	pointer-events: none;
}