

#page-pesquisa .table {
    width: 90%;
    max-width: 1070px;
    margin: 0 auto;
    padding: 0;
}

#page-pesquisa .row {
	padding: 8px;
    border: 2px solid transparent;
    border-radius: 5px;
}
#page-pesquisa .row:nth-child(even) {
	background: #f5f5f5;
}

#page-pesquisa .cell {
	display: inline-block;
	width: 19%;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
	color: #888;
}




#page-pesquisa .table:hover .gestor {
	opacity: 0.6;
}

#page-pesquisa .table .gestor {
	cursor: pointer;
	user-select: none;
	transition: 0.2s;
}
#page-pesquisa .table .gestor:hover {
	opacity: 1;
	background: #eee;
	/*border-color: #ddd;*/
	transition: none;
	margin: 0 -20px 0 -20px;
}


#page-pesquisa .table .gestor:active {
	margin: 0 -16px 0 -16px;
	opacity: 0.8;
	transition: none;
	transform: scale(0.98);
}






#page-pesquisa .central {
	width: 80%;
	margin: 0px auto 30px auto;
}
#page-pesquisa .central .cell {
	text-align: left;
}
#page-pesquisa .central .cell.right {
	text-align: right;
}





#page-pesquisa .tarja {
	padding: 2px 0;
	margin-bottom: 20px;
	background: #f2f2f2;
}

#page-pesquisa .header .cell {
	padding-bottom: 25px;
	font-size: 24px;
}

#page-pesquisa .header .cell span {
	font-weight: bold;
	font-size: 20px;
	color: #777;
}

#page-pesquisa .header .img {
	background: url(../../img/right-arrow.svg) no-repeat 50% 100%;
}
#page-pesquisa .header .img.i4 {
	background-image: url(../../img/right-arrow-last.svg);
}
#page-pesquisa .cell.i {
	color: #ccc;
}


#page-pesquisa .table.cards .cell {
	vertical-align: top;
}




